@import url(variable.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF-Pro-Text-Regular";
}
body{
    background: var(--color-primario-binance);
}
.banner{
    position: absolute;
    z-index: -1;
}
.banner img{
    margin-top: -10%;
    filter: blur(7px);
    width: 100%;
    height: 60vh;
    object-fit:cover;
}
.header {
    width: 100%;
    padding: 0 .5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    position: sticky;
    z-index: 2;
    top: 0;
    background:var(--color-primario-binance);
}

.header__logo {
    /* background: red; */
    display: flex;
    align-items: center;
    gap: 5px;

}
.logo__icono img {
    width: 2.3em;
}

.logo__titulo {
    /* background: orange; */
    font-size: 1.3em;
    font-weight: 600;
    color: var(--color-secundario-binance);
    font-family: "SF-Pro-Text-Bold";
    text-transform: uppercase;
}

.header__menu img {
    font-size: 3em;
    color: var(--color-secundario-binance);
}
.titulo__card {
    /* background: green; */
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    justify-content: center;
    padding: 0 0.5em
}

.titulo__card h2,
.titulo__card p {
    font-size: 2.3em;
    color: var(--color-ternario);
    text-transform: capitalize;
}

.titulo__card h2 {
    font-family: "SF-Pro-Text-Heavy";
}

.titulo__card p {
    font-family: "SF-Pro-Text-Light";
    text-transform: capitalize;
}

.titulo__balance {
    /* background: fuchsia; */
    color: var(--color-secundario-binance);
    display: flex;
    height: 130px;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5em;
}

.balance__one,
.balance__two {
    display: flex;
    flex-direction: column;
}

.balance__one small,
.balance__two small {
    font-size: 1em;
    text-transform: uppercase;
    font-family: "SF-Pro-Text-Medium";
}

.balance__one label,
.balance__two label {
    font-size: 1.3em;
    font-family: "SF-Pro-Text-Bold";
}

.balance__one progress[value] {
    --color: var(--color-secundario-binance);
    --background: var(--color-cuarto);
    background: var(--background);
}

.balance__two progress[value] {
    --color: var(--color-secundario-binance);
    --background: var(--color-cuarto);
    background: var(--background);
}

progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    /* margin: 0 10px; */
    height: .5em;
    border-radius: 10em;
}

.balance__one progress[value]::-webkit-progress-bar,
.balance__two progress[value]::-webkit-progress-bar {
    border-radius: 10em;
    height: .5em;
    background: var(--background);
}

progress[value]::-webkit-progress-value {
    border-radius: 10em;
    background: var(--color);
}

progress[value]::-moz-progress-bar {
    border-radius: 10em;
    background: var(--color);
}

.main__activities{
    background: var(--color-secundario-binance);
    height: 100vh;
    padding: 1.5em 0.5em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.activities__service h3,
.activities__transactions h3{
    color: var(--color-primario-binance);
    text-transform: capitalize;
    font-family: "SF-Pro-Text-Bold";
    font-size: 1.3em;
    margin-bottom: 20px;
}

.service__cards{
    /* background: olivedrab; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-x: scroll;

    padding: 0.8em;
    gap: 15px;
}
.service__cards div{
    flex: 1;
    min-width: 30%;
    min-height: 150px;
    border-radius: 20px;
    background: var(--color-primario-binance);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.150);
    color: var(--color-secundario-binance);
    font-family: "SF-Pro-Text-Semibold";
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.service__cards div i{
    font-size: 2.3em;
}

.transactions__cards{
    /* background: orangered; */
    height: 460px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 15px
}
.transactions__cards div{
    /* background: darkgoldenrod; */
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.transactions__cards div i {
    font-size: 2.5em;
}
div.transactions__description,
div.transactions__value{
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
}
div.transactions__description{
    align-items: flex-start;
}
div.transactions__value{
    align-items: flex-end;
}
div.transactions__description p,
div.transactions__value p{
    font-family: "SF-Pro-Text-Bold";
}
div.transactions__description small
{
    font-family: "SF-Pro-Text-Light";
    color: var(--color-primario-binance);
}

div.transactions__value small{
    font-family: "SF-Pro-Text-Light";
    color: #026f0a;
}
i.bx.bxs-up-arrow{
    color: var(--color-secundario);
}
i.bxs-down-arrow{
    color: var(--color-primario);
}

.footer {
    width: 100%;
    background: var(--color-primario-binance);
    position: fixed;
    bottom: 0;
    z-index: 10;
}

.footer ul {
    display: flex;
    justify-content: space-around;
}

.footer ul li {
    list-style: none;
    margin: .5em 0;
}

.footer ul li a img {
    width: 2.5em;
}