<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/balance.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Balance</title>
</head>
<body>
    <div class="banner">
        <div class="banner__imagen">
            <img src="../storage/img/Ellipse 12.svg" >
        </div>
    </div>
    <header class="header">
        <div class="header__logo">
            <div class="logo__icono">
                <img src="../storage/img/logo.svg">
            </div>
            <div class="logo__titulo">invento</div>
        </div>
        <div class="header__menu">
            <i class='bx bx-menu'></i>
        </div>
    </header>
    <main>
        <section class="balance">
            <article class="circle">
                <div class="circle__background">
                        <p class="circle__text1">total balance</p>
                        <p class="circle__text2"><small>$</small>214.417</p>
                </div>
            </article>
            <article class="buttons">
                <a class="buttons__button1" href="#">assets</a>
                <a class="buttons__button2" href="#">debt</a>
                <a class="buttons__button3" href="#">income</a>
            </article>
        </section>
        <section class="graphics">
            <article class="graphics__image">
                <img class="image__imagen1" src="../storage/img/Graficos 1.png">
            </article>
            <article class="graphics__days">
                <img class="days__imagen1" src="../storage/img/Letras Frame.svg">
            </article>
        </section>
    </main>
    <footer class="footer">
        <ul>
            <li>
                <a href="#"><img src="../storage/img/icon.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_1.svg"></a>
            </li>
            <li>
                <a href="views/cards.html"><img src="../storage/img/icon_2.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_3.svg"></a>
            </li>
            <li>
                <a href="index.html"><img src="../storage/img/icon_4.svg"></a>
            </li>
        </ul>
    </footer>
</body>
</html>