<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/balance.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Balance</title>
</head>
<body>
    <div class="banner">
        <div class="banner__imagen">
            <img src="../storage/img/binance.jpg_423682103.svg" >
        </div>
    </div>
    <div class="close-icon">
    <a href="#"><i class='bx bxs-x-circle bx-rotate-180' style='color:#f3ba2f' ></i></a>
    </div>
    <header class="header">
        <div class="header__logo">
            <div class="logo__icono">
                <img src="../storage/img/binance-logo.svg">
            </div>
            <div class="logo__titulo">binance</div>
        </div>
        <div class="header__menu">
            <img src="../storage/img/More-four.svg">
        </div>
    </header>
    <main>
        <section class="balance">
            <article class="circle">
                <div class="circle__background">
                        <h3 class="circle__text1">total</h3>
                        <h5 class="circle__text2">balance</h5>
                        <h2 class="circle__text3"><small>$</small>214.417</p>
                </div>
            </article>
            <article class="buttons">
                <a class="buttons__button1" href="#">assets</a>
                <a class="buttons__button2" href="#">debt</a>
                <a class="buttons__button3" href="#">income</a>
            </article>
        </section>
        <section class="graphics">
            <article class="graphics__image">
                <img class="image__imagen1" src="../storage/img/patron-cabeza-hombros-alcista.svg">
            </article>
            <article class="graphics__days">
                <img class="days__imagen1" src="../storage/img/Letras Frame.svg">
            </article>
        </section>
        <section class="card">
            <article class="card__image">
                <img class="image__credit" src="../storage/img/binance-logo.svg">
            </article>
            <article class="card__text">
                <h3 class="text__title">spending.</h3>
                <small class="text__text">You forgot to add debt card number at payment #1323. Add it now.</small>
            </article>
        </section>
    </main>
    <footer class="footer">
        <ul>
            <li>
                <a href="#" class="footer__home"><img src="../storage/img/Futures.svg"></a>
            </li>
            <li>
                <a href="balance.html"><img src="../storage/img/Stocks Growth.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/Wallet.svg"></a>
            </li>
            <li>
                <a href="cards.html"><img src="../storage/img/Scroll.svg"></a>
            </li>
            <li>
                <a href="../index.html"><img src="../storage/img/Home.svg"></a>
            </li>
        </ul>
    </footer>
</body>
</html>